.translate-page {
  background-color: #343a40;
  color: white;
  min-height: 100vh;
  font-family: 'Proxima Nova';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2 {
  color: #fff;
}

.main-content {
  padding: 2rem 0;
}

.CodeMirror {
  text-align: left;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.input-box {
  position: relative;
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
}

.upload-icon {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 160px;
  right: 5px;
  color: #bbb;
  z-index: 10;
}

.code-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1rem;
}

.code-box {
  width: calc(50% - 15px);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: #bbb;
  display: block;
}

.form-control {
  background-color: white;
  border: 1px solid #343a40;
  color: black;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.form-control:focus {
  background-color: white;
  border-color: #007bff;
  box-shadow: none;
}

.translate-button-container {
  text-align: center;
  margin-top: 20px;
}

.translate-button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
}

.translate-button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Icons positioning and styling within the output box */
.textarea-container {
  position: relative;
}

.icons {
  position: absolute;
  top: 10px;
  right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon:hover {
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .code-container {
    flex-direction: column;
    gap: 15px;
  }

  .code-box {
    width: 100%;
  }

  .icons {
    right: 10px;
    top: -40px;
  }

  .translate-button {
    padding: .5rem 1rem;
  }
}