.translate-page {
  background-color: #343a40;
  color: white;
  min-height: 100vh;
  font-family: 'Proxima Nova',sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2 {
  color: #fff;
}

.custom-codemirror-wrapper .cm-editor {
  text-align: left;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 0;
  margin: 0;
  line-height: normal;
}



.main-content {
  position: relative;
  padding: 2rem 0;
}

.sorting-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem; /* Add space below the sorting controls */
}

.sorting-controls > div {
  display: flex;
  align-items: center;
}

.sorting-controls label {
  flex: 1;
  margin-right: 0.5rem;
}

.sorting-controls select {
  flex: 2;
  padding: 0.5rem;
  font-size: 0.9rem; /* Smaller font size for select elements */
  border-radius: 0.25rem;
  border: 1px solid #495057; /* Adjust the border color to match the theme */
  background-color: #343a40; /* Match the background color of the sidebar */
  color: #ffffff; /* Text color for the options */
}

/* Style for option elements */
.sorting-controls select option {
  background: #495057; /* Background of the dropdown options */
}

/* Adjust the form-control class for the sorting controls */
.form-control {
  height: auto; /* Allow the select height to grow with content */
  padding: 0.375rem 0.75rem; /* Bootstrap default padding for form controls */
}


/* Ensure the sorting controls do not overlap with the toggle button */
.sidebar.show-sidebar .sorting-controls {
  padding-top: 60px; /* Give enough space to avoid overlap */
}

/* Add visual cues to indicate active sorting */
.sorting-controls select:active,
.sorting-controls select:focus {
  background-color: #343a40; /* Same as the non-focused state */
}


.sidebar-container {
  position: relative; /* This will be the reference for the absolute positioning */
  padding: 0; /* Adjust padding if needed */
}

.sidebar-toggle {
  position: absolute;
  top: 100%; /* Position the toggle right below the container */
  left: 0;
  z-index: 101; /* Higher z-index to be above the main content */
  width: 50px; /* Set a specific width */
  height: 50px; /* Set a specific height */
  border-radius: 25px; /* Make it round */
  background-color: #495057; /* Adjust the background color */
}

.history-icon {
  color: #7cff3b; /* Make the icon stand out with a brighter color */
  font-size: 1.5em; /* Increase the size of the icon */
}

/* Add hover effect for the sidebar-toggle button for visual feedback */
.sidebar-toggle:hover {
  background-color: #6c757d; /* Slightly lighter shade when hovered */
}

.sidebar {
  position: absolute;
  top: 5%; /* Position 5% from the top */
  left: 0;
  transform: translateX(-100%);
  height: 90vh; /* Set the height to 90% of the viewport height */
  padding-top: 60px; /* Adjust if needed */
  width: 210px;
  background-color: #343a40;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 100; /* Below the toggle button */
  overflow-y: auto; /* Enable scrolling */
}

.show-sidebar {
  transform: translateX(0); /* Adjust for showing sidebar */
}

.history-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.history-item .source-language,
.history-item .target-language {
  flex: 1; /* Give equal space to source and target language text */
  white-space: nowrap;
  font-family: 'Proxima Nova',sans-serif;
}

.arrow-icon {
  margin: 0 10px; /* Adjust spacing around the arrow */
  color: #adb5bd; /* Adjust arrow color as needed */
}

.history-item:hover {
  background-color: #495057; /* A slightly lighter shade for hover effect */
}

.history-item > .language-icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 1.2em; /* Larger icon size */
}

.history-item > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px; /* Adjust based on your layout */
  display: inline-block;
}

/* Styling for the language icons */
.language-icon {
  font-size: 24px; /* Adjust size as needed */
}

/* Specific styles for each language icon */
.language-icon.javascript {
  color: #f0db4f; /* JavaScript color */
}

.language-icon.python {
  color: #3776ab; /* Python color */
}

.language-icon.cpp { /* Adjust class name as needed */
  color: #00599c; /* C++ color */
}

.language-icon.java {
  color: #f89820; /* Java color */
}

.language-icon.rust {
  color: #dea584; /* Rust color */
}


/* Use pseudo-elements for the arrow in history items */
/* CSS for arrows */
.history-item::before {
  font-size: 16px;
  margin-right: 5px;
}

.section-title {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2rem; /* Or whatever space you need between sections */
  padding-left: 1rem;
}

.translation-history-title{
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 2rem; /* Or whatever space you need between sections */
  padding-left: 1rem;
}



/* Add padding to the list for alignment */
.sidebar ul {
  padding-left: 1.5rem; /* Align with the title and "Today" */
}

.input-box {
  position: relative;
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
}

.upload-icon {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 160px;
  right: 5px;
  color: #bbb;
  z-index: 10;
}

.code-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1rem;
}

.code-box {
  width: calc(50% - 15px);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: #bbb;
  display: block;
}

.form-control {
  background-color: white;
  border: 1px solid #343a40;
  color: black;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.form-control:focus {
  background-color: white;
  border-color: #007bff;
  box-shadow: none;
}

.translate-button-container {
  text-align: center;
  margin-top: 20px;
}

.translate-button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
}

.translate-button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Icons positioning and styling within the output box */
.textarea-container {
  position: relative;
}

.icons {
  position: absolute;
  top: 10px;
  right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon:hover {
  color: white;
}

.status {
  font-size: 1.25rem;
  font-family: 'Proxima Nova',sans-serif;
  width: 15%;
  height: 10%;
  border-radius: 2rem;
  align-items: center;
}

.btn-translate-button-translating {
  background-color: grey;
  border-color: #03595c;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  border-radius: 0.8rem;
}

.btn-translate-button-regular
{
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  border-radius: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .code-container {
    flex-direction: column;
    gap: 15px;
  }

  .code-box {
    width: 100%;
  }

  .icons {
    right: 10px;
    top: -40px;
  }

  .translate-button {
    padding: .5rem 1rem;
  }
}