.translate-page {
  background-color: #343a40;
  color: white;
  min-height: 100vh;
  font-family: 'Proxima Nova';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2 {
  color: #fff;
}


.CodeMirror {
  text-align: left;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.main-content {
  position: relative;
  padding: 2rem 0;
}

.sidebar-container {
  position: relative; /* This will be the reference for the absolute positioning */
  padding: 0; /* Adjust padding if needed */
}

.sidebar-toggle {
  position: absolute;
  top: 100%; /* Position the toggle right below the container */
  left: 0;
  z-index: 101; /* Higher z-index to be above the main content */
}

.sidebar {
  position: absolute;
  top: 0; /* Align to the top of the sidebar-container */
  left: 0;
  transform: translateX(-100%);
  height: 100vh; /* Full viewport height */
  width: 210px;
  background-color: #343a40;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 100; /* Below the toggle button */
}

.show-sidebar {
  transform: translateX(0); /* Adjust for showing sidebar */
}

.history-item {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

.history-item:hover {
  background-color: #555; /* Or any other color to indicate hover state */
}

/* Styles for Translation History title */
.translation-history-title {
  font-size: 1.5rem; /* Increase font size */
  font-weight: bold; /* Make it bold */
  color: #fff; /* Change color if you wish */
  margin-bottom: 0.5rem; /* Add some space below the title */
  padding-left: 1rem; /* Align with the list items */
  border-bottom: 2px solid #ffa500; /* Add an underline or border */
}

/* Styles for the "Today" section */
.today-section {
  font-size: 1.2rem; /* Slightly larger font size for "Today" */
  font-weight: bold; /* Make it bold */
  color: #ffa500; /* A different color to stand out, e.g., an orange */
  margin-top: 0.5rem; /* Add space above */
  padding-left: 1.5rem; /* Add some padding */
}

/* Add padding to the list for alignment */
.sidebar ul {
  padding-left: 1.5rem; /* Align with the title and "Today" */
}

.input-box {
  position: relative;
}

.icon {
  cursor: pointer;
  font-size: 1.5em;
}

.upload-icon {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 160px;
  right: 5px;
  color: #bbb;
  z-index: 10;
}

.code-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1rem;
}

.code-box {
  width: calc(50% - 15px);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: #bbb;
  display: block;
}

.form-control {
  background-color: white;
  border: 1px solid #343a40;
  color: black;
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.form-control:focus {
  background-color: white;
  border-color: #007bff;
  box-shadow: none;
}

.translate-button-container {
  text-align: center;
  margin-top: 20px;
}

.translate-button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: inline-block;
}

.translate-button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Icons positioning and styling within the output box */
.textarea-container {
  position: relative;
}

.icons {
  position: absolute;
  top: 10px;
  right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon:hover {
  color: white;
}

.status {
  font-size: 1.25rem;
  font-family: 'Proxima Nova',sans-serif;
  width: 15%;
  height: 10%;
  border-radius: 2rem;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .code-container {
    flex-direction: column;
    gap: 15px;
  }

  .code-box {
    width: 100%;
  }

  .icons {
    right: 10px;
    top: -40px;
  }

  .translate-button {
    padding: .5rem 1rem;
  }
}
